@model IEnumerable<ToyStore.Models.ViewModel>

@{
    ViewBag.Title = "GroupByTop5";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #div-top {
        text-align: center;
        background-color: lightpink;
        height: 50px;
        /*border-radius: 20px 20px 0 0;*/
    }

    div#div-top {
        text-align: center;
        background-color: lightpink;
        height: 50px;
        /*border-radius: 20px 20px 0 0;*/
    }

    .MenuPage li {
        display: inline;
    }

    .btn-default {
        background-color: lightpink;
    }

    .card-pro {
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        padding-bottom: 10px
    }

        .card-pro:hover {
            transform: scale(1.1);
        }
</style>


<div style="border-radius:10px;border:1px solid black;background-color:lightpink ">
    <div id="div-top"><h2 style="padding-top: 5px; color: white; background-color: lightpink;">Top 5 sản phẩm bán chạy</h2></div>

    <div class="container">
        <div class="row">
            @foreach (var pro in Model)
            {
                <div class="col-sm-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card-pro">
                        <a href="/Product/DetailsList/@pro.IDPro"> <br /> <img src="@Url.Content(pro.ImgPro)" height="160" width="160" /></a>
                        <a href="/Product/DetailsList/@pro.IDPro"> <br />@Html.DisplayFor(model => pro.NamePro)</a>
                        <p>@Html.DisplayFor(model => pro.pricePro)</p>
                        <a href="/ShoppingCart/AddToCart/@pro.IDPro" class="btn btn-default">Mua hàng</a>
                    </div>
                </div>
            }
        </div>
    </div>
  

</div>