
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Sucess</title>
    <style>
        .Order {
          
            border: 1px solid black;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            background-color: white;
            padding-bottom: 10px;
            width: fit-content;
            text-align:center;
        }
        body{
            padding-left:30%;
        }
    </style>
</head>
<body>
    <div class="Order">      
        <h4>Đơn hàng của bạn đã được gửi đến shop.Bạn sẽ nhận được hàng trong 2 - 3 ngày tới.</h4>
        <h3>Xin chân thành cảm ơn</h3>
        <a href="@Url.Action("Index","Product")class="btn btn-default">Tiếp tục mua hàng </a>
    </div>
    <div>
    </div>
</body>
</html>
