
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Sucess</title>
</head>
<body style="text-align:center">
    <h2>CheckOut Sucessfull</h2>
    <h4>Order of you had sent to the Shop.You will receive goods in 2-3 days. Thanks.</h4>
    <a href="@Url.Action("Index","Product")">Continous shopping..</a>
    <div> 
    </div>
</body>
</html>
